<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo page for todo:  <%= id %> </h1>

    <h2>Message:</h2>
    <p><%= todo.message %></p>

    


</body>
</html>